.about-owner__title {
  margin-top: 26px;
  margin-bottom: 35px;
}
.about-owner__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.about-owner__input {
  padding: 13px 14px;
  width: 100%;
  margin-left: 10px;
  border: 1px solid #cdcdcd;
}
.about-owner__label {
  white-space: nowrap;
}
