.additionally__item {
  margin-bottom: 19px;
}
.additionally__title {
  margin-top: 22px;
  margin-bottom: 34px;
}
@media (min-width: $tablet-width) {
  .additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
@media (min-width: $desktop-width) {
  .additionally__list {
    display: flex;
    justify-content: space-between;
  }
}
