.button {
  width: 280px;
  height: 40px;
  background: $basic-green;
  border: none;
  font-family: $font-large;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.button--outline {
  background: $basic-grey;
  color: $special-dark-grey;
}
.button__catalog {
  width: 100%;
}
@media (min-width: $tablet-width) {
  .button--primary {
    min-height: 54px;

    margin-top: 49px;
  }
}
@media (min-width: $desktop-width) {
  .button--primary {
    margin-top: 52px;
  }
}
