.catalog-list {
  margin-top: 49px;
}
.catalog-list__item {
  display: flex;
  flex-wrap: wrap;
  padding: 11px 0 14px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 60px;
  }
  .catalog-list__item {
    flex-direction: column;
    padding: 37px 39px;
    background-color: $basic-grey;
  }
}
@media (min-width: $desktop-width) {
  .catalog-list {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 80px;
  }
}
