.catalog-list {
  margin-top: 49px;
}
.catalog-list__item {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 60px;
  }
  .catalog-list__item {
    flex-direction: column;
  }
}
@media (min-width: $desktop-width) {
  .catalog-list {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 80px;
  }
}
