.comment__habits-form {
  width: 100%;
  padding: 10px 12px 125px 13px;
  border: 1px solid #e7e7e7;
}
.comment__title {
  position: relative;
}
.comment__title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 300%;
  height: 2px;
  background-color: #68b738;
}
