.contacts-description {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}
.contacts iframe {
  width: 100%;
  left: 0;
  right: 0;
  border: none;
  display: block;
  height: 400px;
}
@media (min-width: $tablet-width) {
  .contacts-description {
    padding: 60px 40px 56px;
    margin-top: 76px;
  }

  .contacts__title {
    width: 172px;
    margin-left: 70px;
  }
  .contacts__text {
    width: 160px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }
  .contacts__container {
    position: absolute;
    z-index: 1;
  }
  .contacts-description {
    padding: 56px 60px 80px;
    background: #ffffff;
  }
}
