.page-forms__container {
  padding-left: 20px;
  padding-right: 20px;
}
.selection-program__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.fieldset {
  border: none;
}
