@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2"),
    url("../fonts/lato/Lato-Regular.woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2"),
    url("../fonts/oswald/oswaldregular.woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2"),
    url("../fonts/oswald/oswaldmedium.woff");
}
.container {
  width: 320px;
  margin: 0;
  padding: 0;
}
.button {
  width: 280px;
  height: 40px;
  background: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.button--outline {
  background: #f2f2f2;
  color: #444444;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title,
.title-s,
.title-m,
.title-l {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.title {
  font-size: 36px;
  line-height: 36px;
}
.title-s {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
.title-m {
  font-size: 36px;
  line-height: 40px;
}
.title-l {
  font-size: 24px;
  line-height: 24px;
}
.text,
.text-s {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.text {
  font-size: 14px;
  line-height: 18px;
}
.text-s {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.text-m {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}
