.logo {
  display: flex;
  flex-wrap: wrap;
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.logo__cat {
  margin-top: 10px;
}

.logo__text {
  margin-top: 23px;
  margin-left: 57px;
}
@media (min-width: $tablet-width) {
  .logo__text {
    margin-left: 12px;
  }
}
@media (min-width: $desktop-width) {
  .logo__text {
    margin-left: 14px;
  }
}
