.navigation__list {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}
.navigation__toggle {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: #ffffff;
  padding: 0;
  border: none;
  cursor: pointer;
}
@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__toggle::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 21px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  .navigation--opened .navigation__toggle {
    top: 0;
    left: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 20px;
      width: 26px;
      height: 1.5px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
@media (max-width: $mobile-width-only) {
  .navigation--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }
}
@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navigation__toggle {
    display: none;
  }
}
.navigation--opened .navigation__wrapper {
  position: absolute;
  min-width: 320px;
  width: 100%;
  content: "";
  top: 65px;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}

@media (min-width: $desktop-width) {
  .navigation--opened .navigation__wrapper {
    position: static;
    min-width: 478px;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--nojs .navigation__wrapper {
    position: static;
    display: block;
    margin: 0 auto;
  }

  .navigation--nojs .site-list {
    display: block;
    margin-top: 65px;
    margin-left: -250px;
  }

  .navigation--nojs .site-list__item {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    margin-left: 94px;
  }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
    font-size: 18px;
    line-height: 24px;
  }
  .navigation__toggle {
    display: none;
  }
}
@media (min-width: $desktop-width) {
  .navigation {
    margin-left: 540px;
  }
  .navigation__list {
    font-size: 20px;
    line-height: 30px;
    min-width: 478px;
  }
}

.navigation__link {
  text-decoration: none;
  color: #000000;
}
