.novigation__list {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .novigation__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }
  .novigation__toggle {
    display: none;
  }
}
@media (min-width: $desktop-width) {
  .novigation__list {
    width: 448px;
  }
}

.novigation__link {
  text-decoration: none;
  color: #000000;
}
