.site-list__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
  text-transform: uppercase;
}
.novigation-link {
  text-decoration: none;
  color: #000000;
}
