.product {
  background-color: #f2f2f2;
}
.product__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-top: 15px;
  background-image: url(../../img/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  min-width: 139px;
}
.product__text {
  padding-bottom: 23px;
  padding-top: 22px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
}
.product__title {
  margin-left: 19px;
}
@media (min-width: $tablet-width) {
  .product__text {
    width: 340px;
    border-bottom: none;
  }
  .product__link {
    margin-top: 24px;
    min-width: 165px;
    display: block;
    background-position: left 101px center;
  }
  .product__icon {
    display: none;
  }
}
