.programs__container {
  padding-left: 20px;
  padding-right: 20px;
}
.product {
  background-color: #f2f2f2;
}
.product__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
