.promo {
  width: 280px;
  margin: 0 auto;
  background: url("../../img/cat-background-image.jpg") no-repeat;
  background-color: #68b738 no-repeat;
}
.promo__title,
.promo__subtitle {
  color: #ffffff;
  text-align: center;
}
@media (min-width: $tablet-width) {
  .promo {
    width: 708px;
    min-height: 800px;
    background: url("../../img/cat-tablet-image.jpg") no-repeat;
  }

  .promo__title,
  .promo__subtitle {
    margin: 36px 0 0 90px;
    color: #000000;
    text-align: left;
  }
  .promo__subtitle {
    margin-top: 41px;
  }
}
@media (min-width: $desktop-width) {
  .promo {
    background: url("../../img/cat-tablet-image.jpg") no-repeat;
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .promo__title {
    margin-top: 111px;
  }
}
