body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2"), url("../fonts/lato/Lato-Regular.woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2"), url("../fonts/oswald/oswaldregular.woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2"), url("../fonts/oswald/oswaldmedium.woff");
}
.container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header__container {
  background: #ffffff;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .page-header__container {
    display: flex;
  }
}
.logo {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .logo {
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .logo {
    height: 59px;
  }
}

.logo__cat {
  margin-top: 10px;
}

.logo__text {
  margin-top: 23px;
  margin-left: 57px;
}

@media (min-width: 768px) {
  .logo__text {
    margin-left: 12px;
  }
}
@media (min-width: 1440px) {
  .logo__text {
    margin-left: 14px;
  }
}
.promo {
  width: 280px;
  margin: 0 auto;
  background: url("../../img/cat-background-image.jpg") no-repeat;
  background-color: #68b738 no-repeat;
}

.promo__title,
.promo__subtitle {
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .promo {
    width: 708px;
    min-height: 800px;
    background: url("../../img/cat-tablet-image.jpg") no-repeat;
  }

  .promo__title,
.promo__subtitle {
    margin: 36px 0 0 90px;
    color: #000000;
    text-align: left;
  }

  .promo__subtitle {
    margin-top: 41px;
  }
}
@media (min-width: 1440px) {
  .promo {
    background: url("../../img/cat-tablet-image.jpg") no-repeat;
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .promo__title {
    margin-top: 111px;
  }
}
.navigation__list {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

.navigation__toggle {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: #ffffff;
  padding: 0;
  border: none;
  cursor: pointer;
}

@media (max-width: 320px) {
  .navigation--closed .navigation__toggle::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 21px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  .navigation--opened .navigation__toggle {
    top: 0;
    left: 0;
  }
  .navigation--opened .navigation__toggle::before, .navigation--opened .navigation__toggle::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 20px;
    width: 26px;
    height: 1.5px;
    background-color: #000000;
  }
  .navigation--opened .navigation__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .navigation--opened .navigation__toggle::after {
    transform: rotate(-45deg);
  }
}
@media (max-width: 320px) {
  .navigation--closed .site-list__item {
    display: none;
  }
  .navigation--closed .site-list__item--active {
    display: block;
  }
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
@media (min-width: 1440px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation--opened .navigation__wrapper {
  position: absolute;
  min-width: 320px;
  width: 100%;
  content: "";
  top: 65px;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}

@media (min-width: 1440px) {
  .navigation--opened .navigation__wrapper {
    position: static;
    min-width: 478px;
  }
}
@media (max-width: 320px) {
  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--nojs .navigation__wrapper {
    position: static;
    display: block;
    margin: 0 auto;
  }

  .navigation--nojs .site-list {
    display: block;
    margin-top: 65px;
  }

  .navigation--nojs .site-list__item {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .navigation {
    margin-left: 94px;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
    font-size: 18px;
    line-height: 24px;
  }

  .navigation__toggle {
    display: none;
  }
}
@media (min-width: 1440px) {
  .navigation {
    margin-left: 540px;
  }

  .navigation__list {
    font-size: 20px;
    line-height: 30px;
    min-width: 478px;
  }
}
.navigation__link {
  text-decoration: none;
  color: #000000;
}

.product {
  background-color: #f2f2f2;
}

.product__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-top: 15px;
  background-image: url(../../img/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  min-width: 139px;
}

.product__text {
  padding-bottom: 23px;
  padding-top: 22px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
}

.product__title {
  margin-left: 19px;
}

@media (min-width: 768px) {
  .product__text {
    width: 340px;
    border-bottom: none;
  }

  .product__link {
    margin-top: 24px;
    min-width: 165px;
    display: block;
    background-position: left 101px center;
  }

  .product__icon {
    display: none;
  }
}
.advantages__card {
  display: flex;
}

.advantages__card-text {
  margin-left: 20px;
}

.advantages__title {
  margin: 0;
}

.advantages__list {
  margin-top: 40px;
  margin-bottom: 49px;
}

@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
  }

  .advantages__list-item {
    width: 237px;
    min-height: 280px;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 94px;
  }
}
.example {
  background: #f2f2f2;
}

.example__container {
  padding-top: 25px;
  background: #f2f2f2;
}

.example__title {
  margin: 0;
}

.example__text {
  margin-top: 40px;
}

.example__price-text {
  margin-top: 20px;
}

.example__live {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example__diet-number {
  min-width: 124px;
  display: flex;
  justify-content: center;
}

.example__diet-text {
  min-width: 77px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.example__price {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .example__text {
    margin-top: 63px;
  }

  .example__diet-number {
    min-width: 162px;
  }

  br {
    display: none;
  }
}
@media (min-width: 1440px) {
  .example__text {
    width: 436px;
  }

  .example__live {
    width: 436px;
  }
}
.contacts-description {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}

.contacts iframe {
  width: 100%;
  left: 0;
  right: 0;
  border: none;
  display: block;
  height: 400px;
}

@media (min-width: 768px) {
  .contacts-description {
    padding: 60px 40px 56px;
    margin-top: 76px;
  }

  .contacts__title {
    width: 172px;
    margin-left: 70px;
  }

  .contacts__text {
    width: 160px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    position: relative;
  }

  .contacts__container {
    position: absolute;
    z-index: 1;
  }

  .contacts-description {
    padding: 56px 60px 80px;
    background: #ffffff;
  }
}
.page-footer {
  background: #f2f2f2;
}

.page-footer__container {
  background-color: #f2f2f2;
  padding-top: 25px;
}

@media (min-width: 768px) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__social {
    display: flex;
    justify-content: space-between;
  }
}
.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.page-footer__logo-text {
  display: block;
  margin: 0 auto;
}

.catalog-list {
  margin-top: 49px;
}

.catalog-list__item {
  display: flex;
  flex-wrap: wrap;
  padding: 11px 0 14px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: 768px) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 60px;
  }

  .catalog-list__item {
    flex-direction: column;
    padding: 37px 39px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .catalog-list {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 80px;
  }
}
.additional-products__bonus {
  background: rgba(104, 183, 56, 0.85);
  background-image: url(/img/cat-bonus-image.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  margin-top: 69px;
}

.additional-products__title {
  margin: 25px 0 36px;
}

.additional-products__item {
  padding: 13px 0 16px;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
}

.additional-products__all {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .additional-products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additional-products__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
    padding: 26px 38px 28px 38px;
  }
}
@media (min-width: 1440px) {
  .additional-products__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additional-products__all {
    flex-wrap: nowrap;
  }
}
.additional-card__more {
  display: flex;
  justify-content: space-between;
}

.additional-card__text {
  margin: 0;
}

.promo {
  width: 280px;
  margin: 0 auto;
  background: url("../../img/cat-background-image.jpg") no-repeat;
  background-color: #68b738 no-repeat;
}

.promo__title,
.promo__subtitle {
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .promo {
    width: 708px;
    min-height: 800px;
    background: url("../../img/cat-tablet-image.jpg") no-repeat;
  }

  .promo__title,
.promo__subtitle {
    margin: 36px 0 0 90px;
    color: #000000;
    text-align: left;
  }

  .promo__subtitle {
    margin-top: 41px;
  }
}
@media (min-width: 1440px) {
  .promo {
    background: url("../../img/cat-tablet-image.jpg") no-repeat;
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .promo__title {
    margin-top: 111px;
  }
}
.fieldset {
  border: none;
}

.button {
  width: 280px;
  height: 40px;
  background: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.button--outline {
  background: #f2f2f2;
  color: #444444;
}

.button__catalog {
  width: 100%;
}

@media (min-width: 768px) {
  .button--primary {
    min-height: 54px;
    margin-top: 49px;
  }
}
@media (min-width: 1440px) {
  .button--primary {
    margin-top: 52px;
  }
}
.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.title--s {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.title--m {
  line-height: 40px;
}

.title--l {
  font-size: 24px;
  line-height: 26px;
}

.title--xl {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.text--s {
  font-size: 12px;
  line-height: 16px;
}

.text--m {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.text--l {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.programs__item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 33px 18px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (min-width: 1440px) {
  .programs__container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}
@media (min-width: 768px) {
  .programs__item {
    display: block;
    width: 708px;
    padding: 62px 53px 52px 77px;
  }
}
@media (min-width: 1440px) {
  .programs__item {
    gap: 80px;
    width: 570px;
    padding: 41px 61px 55px 52px;
  }
}
.additionally__item {
  margin-bottom: 19px;
}

.additionally__title {
  margin-top: 22px;
  margin-bottom: 34px;
  position: relative;
}

.additionally__title::after {
  content: "";
  margin-left: 10px;
  position: absolute;
  top: 50%;
  width: 1000%;
  height: 2px;
  background-color: #68b738;
}

@media (min-width: 768px) {
  .additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .additionally__title::after {
    margin-left: 40px;
  }

  .additionally__title::before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 2px;
    top: 50%;
    background-color: #68b738;
    right: 100%;
    margin-right: 40px;
  }
}
@media (min-width: 1440px) {
  .additionally__list {
    display: flex;
    justify-content: space-between;
  }
}
.site-list__item {
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 768px) {
  .site-list__item {
    border: none;
  }

  .site-list__item--active::before {
    position: absolute;
    content: "";
    width: 100%;
    background-color: #68b738;
    height: 2px;
    bottom: -6px;
  }
}
.card__title {
  width: 76px;
}

.card__text {
  margin: 0;
}

.card__image {
  width: 50%;
}

.card__more-text {
  display: flex;
  justify-content: space-between;
}

.card__description {
  width: 50%;
}

.card__more {
  margin-top: 18px;
}

@media (min-width: 768px) {
  .card__title {
    padding: 0 72px;
  }

  .card__more-text {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .card__description {
    width: 100%;
  }

  .card__title {
    padding: 0 36px;
  }
}
.selection-program__subtitle {
  padding: 37px 54px 39px 0;
  margin: 0;
}

.information__cat {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
}

.information__about-program {
  padding-top: 22px;
  padding-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;
}

.about-cat__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.about-cat__name-form {
  border: 1px solid #e7e7e7;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 20px;
  width: 100%;
  margin-left: 13px;
}

.about-program__item {
  margin-bottom: 13px;
}

.about-owner__title {
  margin-top: 26px;
  margin-bottom: 35px;
  position: relative;
}

.about-owner__title::after {
  content: "";
  margin-left: 10px;
  position: absolute;
  top: 50%;
  width: 1000%;
  height: 2px;
  background-color: #68b738;
}

.about-owner__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.about-owner__input {
  padding: 13px 14px;
  width: 100%;
  margin-left: 10px;
  border: 1px solid #cdcdcd;
  background-image: url(../../img/letter-icon.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.about-owner__input-phone {
  background-image: url(../../img/phone-icon.svg);
}

.about-owner__label {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .about-owner__title::after {
    margin-left: 40px;
  }

  .about-owner__title::before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 2px;
    top: 50%;
    background-color: #68b738;
    right: 100%;
    margin-right: 40px;
  }
}
.comment__habits-form {
  width: 100%;
  padding: 10px 12px 125px 13px;
  border: 1px solid #e7e7e7;
}

.comment__title {
  position: relative;
}

.comment__title::after {
  content: "";
  margin-left: 10px;
  position: absolute;
  top: 50%;
  width: 1000%;
  height: 2px;
  background-color: #68b738;
}

@media (min-width: 768px) {
  .comment__title::after {
    content: "";
    margin-left: 40px;
  }

  .comment__title::before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 2px;
    top: 50%;
    background-color: #68b738;
    right: 100%;
    margin-right: 40px;
  }
}
.social {
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */