@import "./global.scss";
@import "./blocks/fonts.scss";
@import "./blocks/variables.scss";
@import "./blocks/container.scss";
@import "./blocks/page-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/promo.scss";
@import "./blocks/navigation.scss";
@import "./blocks/product.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional.scss";
@import "./blocks/promo.scss";
@import "./blocks/form.scss";
@import "./blocks/button.scss";
@import "./blocks/title.scss";
@import "./blocks/text.scss";
@import "./blocks/programs.scss";
@import "./blocks/additionally.scss";
@import "./blocks/page-main.scss";
@import "./blocks/site-list.scss";
@import "./blocks/card.scss";
